

body {
	background: #4d4d4d;
}

a {
	text-decoration: none;
}

#go {
	background: #0088aa;
	border: none;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 1.2em;
	border: none;
}

#go:hover {
	background: #006680;
	border: none;
}

#go:focus {
	outline: 1px solid #006680;
}

#contain {
	width: 100%;
	height: 90px;
	background: #404040;
	line-height: 90px;
}

#result {
	color: white;
	font-size: 1.8em;
}

#selectBox {
	width: 400px;
	margin: 40px auto 0;
	text-align: center;
}

select {
	height: 30px;
	background: grey;
	color: white;
	border: none;
}

.greyBox {
	width: 400px;
	height: 140px;
	margin: 60px auto 0;
	text-align: center;
}

#prevWrap {
	background: #404040;
	height: 90px;
	color: grey;
}

#previous {
	font-size: 1.6em;
	line-height: 90px;
}

.frozen {
	color: grey;
	background: #404040;
}

@media (max-width: 415px) {
	
	.greyBox {
		width: 95%;
	}
	
	#go {
		font-size: 7vw;
	}
	
	#previous {
		font-size: 6vw;
	}
	
	#result {
		font-size: 6.5vw;
	}
	
	#selectBox {
		width: 95%;
	}
	
	select {
		width: 100%;
		margin-top: 5px;
		padding-left: 20px;
	}
}


@media (max-width: 332px) {
	
	.greyBox p{
		line-height: 60px;
	}
	
	.greyBox {
		margin-bottom: -15px;
	}
	
	#contain {
		height: 60px;
	}
	
	#go {
		height: 40px;
	}
	
	#prevWrap {
		height: 60px;
		margin-top: 25px;
	}
	
	#previous {
		line-height: 60px;
	}
	
	#selectBox {
		margin-top: 0;
	}
	

}














